table {
  width: 100%;
}

table th {
  padding: 20px;
  text-align: center;
}

table td {
  padding: 0;
  margin: 0;
}

 :host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.cdk-overlay-pane {
  width: 1000px;
}