<div mat-dialog-content>
  <p>Create a new Beeeeeers!</p>
  <mat-form-field
    [hideRequiredMarker]="false"
    [floatLabel]="auto">
      <input type="text" matInput placeholder="Name" [formControl]="name" required>
  </mat-form-field>
  <mat-form-field
    [hideRequiredMarker]="false"
    [floatLabel]="auto">
      <input type="text" matInput placeholder="Brand" [formControl]="brand" required>
  </mat-form-field>
  <mat-form-field [floatLabel]="auto">
      <input type="text" matInput placeholder="Description" [formControl]="description">
  </mat-form-field>
  <mat-form-field [floatLabel]="auto">
      <input type="number" matInput placeholder="Price" [formControl]="price" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">No Thanks</button>
  <button mat-button (click)="onClick()"cdkFocusInitial> Ok</button>
</div>
