<h1 mat-dialog-title>For the beeeeeers: {{data.name}}</h1>
<div mat-dialog-content>
  <p>Change if you want</p>
  <mat-form-field
  [hideRequiredMarker]="false"
  [floatLabel]="auto" class="ng-invalid">
    <input type="text" matInput placeholder="Name" [formControl]="name" required>
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="true" [floatLabel]="auto">
    <input type="text" matInput placeholder="Description" [formControl]="description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">No Thanks</button>
  <button mat-button (click)="onClick()"cdkFocusInitial>Ok</button>
</div>
